<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>logo</string>
			<key>CFBundleURLName</key>
			<string>chatr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chatr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IntuneMAMSettings</key>
	<dict>
		<key>ADALAuthority</key>
		<string>https://login.windows.net/common</string>
		<key>ADALClientId</key>
		<string>3b5457ac-5240-43cc-8e93-6cd1b3bfadd5</string>
		<key>ADALRedirectUri</key>
		<string>chatr://Intune.chatr</string>
		<key>MAMPolicyRequired</key>
		<string>YES</string>
		<key>MainStoryboardFile</key>
		<string>Main</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https-intunemam</string>
		<string>http-intunemam</string>
		<string>microsoft-edge-https-intunemam</string>
		<string>microsoft-edge-http-intunemam</string>
		<string>ms-outlook-intunemam</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.plain-text</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.data</string>
				<string>com.microsoft.intune.mam.public.content</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.image</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.url</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.file-url</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.data</string>
				<string>com.microsoft.intune.mam.public.content</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.text</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.item</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.data</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.content</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.microsoft.intune.mam.public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.url</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.intune.mam.public.item</string>
		</dict>
	</array>
</dict>
</plist>
